{
  "plugins": [
    "vue"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:vue/recommended"
  ],
  "rules": {
    "no-new": "off",
    "import/extensions": ["error", "always", {
      "js": "never",
      "vue": "never"
    }],
    "vue/max-attributes-per-line": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".vue"]
      }
    }
  }
}
